.proparty {
  padding-bottom: 127px;
  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
  }
  &-left {
    width: 498px;
    height: 124px;
  }
  &-icon {
    font-size: 18px;
    margin-left: 20px;
  }
  &-btn2 {
    margin-left: 40px;
  }
  &-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
  }
  &-list {
    width: calc(50% - 30px);
    padding: 14px;
    margin-bottom: 52px;
    display: flex;
    border: 1px solid #efefef;
    border-radius: 5px;
    &:hover {
      box-shadow: 20px 15px 50px 10px rgba(0, 0, 0, 0.05);
      border: none;
      .proparty-button {
        background-color: $color-primary;
        color: white;
      }
    }
  }
  &-image {
    margin-right: 25px;
    width: 216px;
    display: inline-block;
    height: 216px;
  }
  &-item {
    width: 100%;
  }
  &-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
  &-number-heading {
    font-family: $secondary-font;
    color: $color-primary;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  &-number-icon {
    padding: 7px;
    color: $color-primary;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: currentColor;
      opacity: 0.25;
    }
  }
  &-item-heading {
    color: $color-secondary;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
  }
  &-item-text {
    margin-bottom: 20px;
  }
  &-icons {
    display: flex;
    margin-bottom: 25px;
    color: $text-color;
  }
  &-beds {
    margin-right: 40px;
  }
  &-button {
    font-size: 10px;
    line-height: 12px;
    padding: 9px 15px;
    transition: all 0.2s linear;
  }
  &-beds-icon,
  &-bath-icon {
    color: $color-primary;
    margin-right: 8px;
  }
  @media screen and (max-width: 1023px) {
    &-main {
      flex-direction: column;
    }
    &-list {
      width: 100%;
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px 0;
    }
    &-btn2 {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 767px) {
    &-top {
      flex-direction: column;
    }
    &-left {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    &-main {
      display: grid;
      gap: 0 20px;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-list {
      scroll-snap-align: start;
      flex-direction: column;
    }
    &-image {
      margin: auto;
      margin-bottom: 20px;
      width: 200px;
      height: 200px;
    }
  }
}
